<launch>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    <env name="GAZEBO_RESOURCE_PATH" value="$(env GAZEBO_RESOURCE_PATH):$(find orbit_sim)" />
    <arg name="verbose" value="true" />
    <arg name="world_name" value="worlds/orbit.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />
  
  </include>

  <param name="/gW" type="double" value="1e-11" />
  <param name="/kdW_l" type="double" value=".5e1" />
  <param name="/kdW_a" type="double" value=".3e1" />
  <param name="/lW" type="double" value="8e0" />
  <param name="/db" type="double" value="0.1"
  
  <node args="-file $(find orbit_sim)/models/fullModel.sdf -sdf -z 1 -model payload" name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" />
  <node args="/gazebo/link_states 30 31 /gazebo/link_states_drop" name="link_drop" pkg="topic_tools" type="drop" />
  <node args="0 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands0 controllerState:=controllerState0 modelState:=modelState0" name="robot1Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
  <node args="1 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands1 controllerState:=controllerState1 modelState:=modelState1" name="robot2Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
  <node args="2 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands2 controllerState:=controllerState2 modelState:=modelState2" name="robot3Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
  <node args="3 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands3 controllerState:=controllerState3 modelState:=modelState3" name="robot4Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
  <node args="4 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands4 controllerState:=controllerState4 modelState:=modelState4" name="robot5Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
  <node args="5 /wrenchPlugin/wrenchCommands:=/wrenchPlugin/wrenchCommands5 controllerState:=controllerState5 modelState:=modelState5" name="robot6Ctrl" output="screen" pkg="orbit_sim" type="6dofham" />
</launch>